<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Equipment Booking{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

<style>
body{
    font-size:18px;
}
.nav{
    text-align: right;
    margin-right: 20px;
    font-size: 24px;
}
.logo{
font-size:50px;
}
.logo img{
    width:256px;
}
.login,.logout{
    cursor:pointer;
}

</style>
{% block extra_css%} {% endblock %}
</head>
<body>
<div class="main">
<div class="nav">
    {% if user  %}
        <span> Hello,  {{ user.username }}</span> <a href="/"> Home </a> <a href="/ems/web/booking_date/"> New Booking </a> <a href="/ems/web/my_booking"> My Booking </a> [ <a class="logout"> Logout </a>]
    {% else %}
        <a href="/"> Home </a><a class="login" href="/ems/web/login">Login </a>
    {% endif %}
</div>
<div class="logo" >
    <img src="/static/images/logo.png" /> Equipment Management System
</div>
    {% block main %}

    {% endblock %}
</div>
</body>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
  {% block extra_js %} {% endblock %}
  <script>
      $(".logout").click(function(){
          if(confirm("Do you want to logout?")){
              $.get("/ems/api/signout/",function(data){
                  window.location.reload();
              });

          }
      });
  </script>
</html>