<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Equipment Booking</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="main">
<style>
    .main{
        margin-left: 100px;
    }
    .eq_list table{
        width:800px;
        height:40px;
        display:inline-block;
    }
    .eq_list td{
        width:200px;
    }
</style>
    <h1>Booking</h1>
    <table class="table eq_list">
        {% for eq in equipments %}
        <tr>
            <td class="eq_name">{{ eq.name }}</td>
            <td class="eq_date">{{ eq.date }}</td>
            <td class="eq_location">{{ eq.location }}</td>
            <td class="eq_status">
                {% ifequal eq.status "Available" %}
                    {{ eq.status }} <button id="eq_book_{{ eq.id }}">Book</button>
                {% else %}
                    {{ eq.status }}
                {% endifequal %}
            </td>
        </tr>
        {% endfor %}
    </table>
{#    <div class="btn btn-default">Button </div>#}
</div>
</body>

<script>
    $(".eq_list button").click(function(){
          var id=  $(this).attr('id');
          id = id.replace('eq_book_','');
          var isBook = confirm("Do you want to Book " + id);
          if(isBook){
              $.post('',{'eq_id':id},function(data){
                  console.log(data);
                  if(data){
                      location.reload()
                  }else{
                      alert("Booking Error!");
                  }
              });
          }
    });

</script>
</html>