{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block main %}
<style>
.booking_date .step2,.booking_date .book, .step3, .step4{
    display: none;
}
.eq_list{
    width:80%;
}
.eq_list tr.selected{
    background-color:#c4e3f3;
}
.eq_list td{
    width:33%;
}
.current_date{
    color:#28a4c9;
}
.current_date:hover{
    cursor:pointer;
}
.book_confirm{
    border:1px solid #28a4c9;
    border-radius: 5px;
    width:80%;
}
.book_confirm td.name{
    width:200px;
    text-align: right;
    padding-right: 10px;
}
.book_confirm .confirm_btn{
    text-align: center;
    width:100%;
}
</style>
    <div class="login_page">
<div class="booking_date">
    <div class="header step1">Step 1: Please select a date for the equipment <span class="current_date"></span></div>
    <div id="date_picker"></div>
    <div class="header step2">Step 2: Please select an equipment

        <table class="eq_list">

        </table>

    </div>

    <div class="header step3">Step 3: Please confirm your booking
        <table class="book_confirm">
        </table>
        <div class="btn btn-default confirm-btn">Confirm Booking!</div>
    </div>
    <div class="header step4">Congratulations! You booking is done! <a href="/ems/web/booking_date/">Click here to make another booking</a>

    </div>

</div>
    </div>

{% endblock %}
{% block extra_js %}
    <script src="/static/js/jquery-ui.min.js"></script>
    <script>
    var book_order_data={};
    var dateToday = new Date();
    function onEquipList(data){
        console.log(data);
        try{
            data = JSON.parse(data);
            if(data.ok){
                var eqlist = data.data;
                book_order_data.eqlist = {};
                $(".eq_list").html("");
                for(var i=0; i < eqlist.length; i++){
                    var eq = eqlist[i];
                    book_order_data.eqlist[eq.id] = eq;
                    var html = "<tr id='eq_" + eq.id + "'>";
                    //name
                    html += "<td>" + eq.name + "</td>";
                    //location
                    html += "<td>" + eq.location + "</td>";
                    //status
                    if(eq.booked){
                        html +="<td>Booked</td>";
                    }else{
                        if(eq.status=="Eqm_Available"){
                            html +="<td> Available <button id='book_btn_"+eq.id+"'> Select </button></td>";
                        }else{
                            html +="<td>"+eq.status+"</td>";
                        }
                    }
                    html+="</tr>";
                    $(".eq_list").append(html);
                }
                $(".booking_date .step2").show();
                $(".eq_list button").click(function(){
                    $(this).parent().parent().addClass("selected").siblings().removeClass("selected");
                    var id = ($(this).attr("id").replace('book_btn_',''));
                    book_order_data.eq_id = id;
                    // prepare the booking review
                    var eq = book_order_data.eqlist[id];
                    var html ="" ;
                    html +="<tr><td class='name'>ID:</td>" + "<td class='content'>" +id+" </td></tr>"; // name
                    html +="<tr><td class='name'>Name:</td>" + "<td class='content'>" + eq.name+" </td></tr>"; // name
                    html +="<tr><td class='name'>Location:</td>" + "<td class='content'>" +eq.location+" </td></tr>"; // name
                    html +="<tr><td class='name'>Booking date:</td>" + "<td class='content'>" +book_order_data.date+" </td></tr>"; // name

                    $(".book_confirm").html(html);
                    $(".step3").show();
                    console.log(html);
                });
            }else{
                // error !
            }
        }catch(e){

        }
    }
    var dates = $("#date_picker").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2,
        minDate: dateToday,
        onSelect: function(selectedDate) {
            console.log(selectedDate);
            book_order_data.date = selectedDate;
            $(".current_date").html(selectedDate);
            $(this).hide();
            $.get('/ems/api/list/equip/bydate/',{date:selectedDate},onEquipList);

{#            var option = this.id == "from" ? "minDate" : "maxDate",#}
{#                instance = $(this).data("datepicker"),#}
{#                date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);#}
{#            dates.not(this).datepicker("option", option, date);#}
        }
    });
    $(".current_date").click(function(){
        $("#date_picker").show();
    });
    function onBookDone(){
        $(".step4").show();
        $(".step1,.step2").hide();
        $(".step3 .btn").hide();
    }
    function onBookError(msg){

    }
    $(".step3 .btn.confirm-btn").click(function(){
        if(book_order_data.eq_id &&
                confirm("Do you want to make the booking?\n")){
            $.post('/ems/api/book/equip/',{eq_id:book_order_data.eq_id,date:book_order_data.date},function(data){
                console.log(data);
                data = JSON.parse(data);
                if(data.ok){
                    onBookDone();
                }else{
                    onBookError(data.reason);
                }
            })
        }else{
            console.log("Please try again!");
        }
    })

    </script>
{% endblock %}
{% block extra_css %}
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet">
    <style>
    .booking_date{
        width:100%;
        margin-left:10%;
        padding:20px;
    }
    .booking_date div{
        margin-top:10px;
    }
    </style>
{% endblock %}