{% extends "base.html" %}

{% block title %} Equipment Management System {% endblock %}
{% block extra_css %}
<style>
  #main{
      margin-left: 200px;
      margin-top:50px;
  }

</style>
{% endblock %}
{% block main %}

<div id="main">
 <div id="login">I want to make a booking. Click <a href="/ems/web/booking_date/">here</a></div>
 <div id="login">I want to check my booking. Click <a href="/ems/web/my_booking/">here</a></div>
 <div id="login">I am a staff. I want manager the booking. Click <a href="/admin/">here</a></div>
 <div id="qr_url">You can get the URL of this page by scanning the QRCode<br></div>

 <div id="login">If you have any question on using the EMS, feel free to contact us! Click <a href="/ems/web/support/">here</a></div>
</div>

{% endblock %}
{% block extra_js %}
    <script src="/static/js/jquery.qrcode.min.js"></script>
    <script>
    $("#qr_url").qrcode(document.URL);
    </script>
{% endblock %}