{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block extra_css %}
<style>
.signin{
padding-bottom: 19px;
position: relative;
margin: 15px 0;
padding: 39px 19px 14px;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.signin{
    margin-top: 10px;
}
.login_page{
    width:40%;
    min-width: 250px;
    margin-left:30%;
}
.control-group.submit{
    margin-top:10px;
}
.message.error{
    color:red;
}
.login_page input{
    width:100%;
}
</style>
{% endblock %}
{% block main %}

    <div class="login_page">
<div class="form-horizontal signin">
    <div class="message error"></div>
    <div class="control-group"> Please login </div>
    <div class="control-group">
{#      <label class="control-label" for="inputUsername">Username</label>#}
      <div class="controls">
        <input type="text" id="inputUsername" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
{#      <label class="control-label" for="inputPassword">Password</label>#}
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="control-group submit">
      <div class="controls">
    {#                <label class="checkbox">#}
    {#                  <input type="checkbox"> Remember me#}
    {#                </label>#}
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
</div>
    </div>

{% endblock %}
{% block extra_js %}

    <script>
    function querystring(key) {
        var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
        var r = [], m;
        while ((m = re.exec(document.location.search)) != null) r[r.length] = m[1];
        return r[0];
    }
    var next_url = querystring('next');
    $(".submit button").click(function(){

        var username = $("#inputUsername").val();
        var passwd = $("#inputPassword").val();
        console.log([username,passwd]);
        $.post('/ems/api/login/',{username:username,passwd:passwd},function(data){
            var resp = JSON.parse(data);
            if(resp.ok){
                if(next_url){
                    window.location.href = next_url;
                }else{
                    window.location.href = '/ems/web/booking_date/';
                }

            }else{
                $(".message").html(resp.reason);
            }
        });

    });
    </script>
{% endblock %}