{% extends "base.html" %}

{% block title %} My Booking {% endblock %}
{% block extra_css %}
<style>

.control-group.submit{
    margin-top:10px;
}
.message.error{
    color:red;
}
.bookinglist{
    width:80%;
    margin-top: 10px;
    margin-left:5%;
}
.bookinglist td{
    width:50%
}
.id_tab{
    width:10%;
}

</style>
{% endblock %}
{% block main %}

    <div class="login_page">
<div class="form-horizontal">
    <div class="message error"></div>
    <div class="control-group" style="text-align:center;font-weight:bold"> <span >My Booking Details:</span> </div>

    <table id="booklist" class ="table table-striped bookinglist">
    <thead> <tr><th>Booking ID</th>  <th>Equipment</th>  <th>Reserved date</th>  <th> Created time</th>  <th>Action</th> </tr></thead>
        {% for b  in bdata %}
          <tr id="{{ b.id }}"><td class="id_tab"> {{ b.id }}</td> <td > {{ b.equip }}</td> <td> {{ b.date }}</td>  <td> {{ b.cdata }}</td>   <td class="action"> <button> Delete </button></td></tr>
        {% endfor %}

    </table>
</div>
    </div>

{% endblock %}
{% block extra_js %}

    <script>
       $("#booklist button").click(function(){
           var id = $(this).parent().parent().attr("id");
           console.log(id);
           $.post("/ems/api/book/delete/",{"bid":id},function(data){
               data = JSON.parse(data)
               if(data.ok){
                   window.location.reload();
               }
           })
       })
    </script>
{% endblock %}