{% extends "base.html" %}

{% block title %} Contact Us {% endblock %}
{% block extra_css %}
<style>
.contact_us{
    margin-left:10%;
}
.contact_us div{
    margin:10px;
}
</style>
{% endblock %}
{% block main %}

    <div class="contact_us">
       <div class="alert-msg"> </div>
       <div>Please send us an message, we will contact us soon!</div>
       <div>
           <div><input id="uname" type="text" placeholder="your name here"/></div>
           <div><input id="email" type="text" placeholder="your email here"/></div>
           <div><textarea name="msg" id="msg" cols="50" rows="10" placeholder="your message here"></textarea></div>
           <div><input type="button" value="Send" class="send"/></div>
       </div>

    </div>

{% endblock %}
{% block extra_js %}

    <script>
$(".send").click(function(){
    var name=$("#uname").val(), email=$("#email").val(), msg=$("#msg").val();
    $("#uname,#email,#msg").attr("enable",false);
    $(".alert-msg").text("Sending you message....");
    $.post("/ems/api/ticket/add/",{name:name,email:email,msg:msg},function(data){
        try{
            data = JSON.parse(data);
            console.log(data);
            if(data.ok){
                $(".alert-msg").html("Successed! Your ticket No. is " + data.data.id);
            }
        }catch(e)
        {
            $(".alert-msg").html("error! Please check again!");
        }
    });
});
    </script>
{% endblock %}